.home {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.foto-circulo {
    width: 200px;
    margin-left: var(--default-padding);
}

.titulo-guia-de-raças {
    font-size: 4rem;
    font-family: 'Fredoka One', cursive;
}

.titulo-guia-de-raças::after {
    content: " Siamês";
    font-size: 4rem;
    color: var(--primary-color);
}