header.menu {
    display: flex;
    font-size: 1rem;
}

.menu li {
    border-bottom: 4px solid transparent;
    transition: border-color .5s;
}

.menu li:hover {
    border-bottom: 4px solid var(--primary-color);
}